* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 1440px;
  height: 810px;
  padding: 223px 450px;
  justify-content: center;
  align-items: center;
  background: #202733;
}
